/* settings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 0.5rem;
}
::-webkit-scrollbar-track {
	background-color: #f0f0f1;
}
::-webkit-scrollbar-thumb {
	background-color: #c0c2c5;
}
html {
	scroll-behavior: smooth;
}
@font-face {
	font-family: IRANSansWebLight;
	src: url(../fonts/IRANSansWeb-Light.eot);
	src: url(../fonts/IRANSansWeb-Light.ttf);
	src: url(../fonts/IRANSansWeb-Light.woff);
	src: url(../fonts/IRANSansWeb-Light.woff2);
}
body {
	font-family: IRANSansWebLight, sans-serif;
	background-color: #e9e9e9;
	line-height: 1;
}
$Title_color: #ff0000;
$Menu_color: #afb2b4;
$Paragraph_color: #7a7a7a;
$Short_Text_color: #7c7d7e;
$Divider_color: #bababa;
/* /settings */
.container {
	width: 1600px;
	margin: auto;
	/* display: flex;
    flex-flow: column nowrap; */
	header {
		width: inherit;
		height: 100px;
		background-image: url(../images/backgrounds/header-background.png);
		nav {
			width: inherit;
			height: inherit;
			ul {
				list-style: none;
				width: fit-content;
				height: inherit;
				margin: auto;
				padding-top: 18px;
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				align-items: center;
				li {
					padding: 5px 20px;
					border-left: 1px solid #555;
					position: relative;
					&:first-child,
					&:last-child {
						border: unset;
					}
					&:first-child {
						width: 200px;
					}
					a {
						width: 100%;
						font-size: 16px;
						color: $Menu_color;
						text-decoration: none;
						text-wrap: nowrap;
						transition: 300ms;
						&.current {
							color: #fff;
							pointer-events: none;
						}
					}
					&:hover .Menu_item {
						color: #fff;
					}
					&:hover ul {
						display: flex;
						opacity: 1;
					}
					&:not(:hover) ul {
						display: none;
						opacity: 0;
					}
					img {
						position: absolute;
						top: -11px;
						left: 35px;
					}
					ul {
						list-style: none;
						padding: unset;
						opacity: 0;
						display: none;
						flex-flow: column nowrap;
						justify-content: center;
						align-items: flex-start;
						background-image: url(../images/backgrounds/header-background.png);
						position: absolute;
						top: 100%;
						right: 0;
						transition: linear all 300ms;
						li {
							width: 100%;
							border: unset;
							padding: unset;
							a {
								display: block;
								width: 100%;
								padding: 13px 28px 13px;
							}
							&:hover a {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
	.Lottery {
		background-image: linear-gradient(190deg, #fbfbfb 0%, #d2d2d2 100%);
		width: inherit;
		height: 457px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		div {
			width: 31.25%;
			height: inherit;

			&:first-child {
				padding: 10px;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: flex-start;
				row-gap: 21px;
			}
			&:nth-child(2) {
				display: flex;
				flex-flow: row;
				justify-content: flex-end;
			}
			h1 {
				height: 40px;
				padding-top: 10px;
				font-size: 30px;
				color: $Title_color;
				font-weight: 300;
			}
			h2 {
				height: 20px;
				font-size: 20px;
				color: #58595b;
				font-weight: 300;
			}
			p {
				padding: 15px 0 15px 45px;
				color: #898989;
				font-size: 16px;
				font-weight: 100;
				font-style: normal;
				line-height: 33px;
			}
			a {
				width: 134px;
				height: 41px;
				padding: 12px 14px;
				text-decoration: none;
				font-size: 15px;
				text-align: center;
				fill: #7c7d7e;
				color: #7c7d7e;
				background-color: #fff;
				border: 1px solid #c8c8c8;
				border-radius: 8px;
				transition: 300ms;
			}
			img {
				align-self: center;
				object-fit: contain;
			}
		}
	}
	.divider {
		width: inherit;
		height: 33px;
		padding: 16px;
		height: 1px;
		background-color: #fff;
		div {
			width: 100%;
			height: 1px;
			background-color: $Divider_color;
		}
	}
	.Golestan_Intro {
		width: 100%;
		margin: auto;
		background-color: #fff;
		.GI_TextBox{
			width: 43.75%;
			margin: auto;
		}
		h2 {
			width: 100%;
			padding: 50px 10px 10px;
			font-size: 20px;
			color: $Title_color;
		}
		p {
			width: 100%;
			padding: 10px;
			font-size: 16px;
			color: $Paragraph_color;
			font-weight: 100;
			line-height: 36px;
			mark{
				background-color: initial;
				font-size: 20px;
				color: $Title_color;
			}
		}
		.GI_ImageBox{
			margin: 105px 0;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			div{
				width: fit-content;
				height: fit-content;
				padding: 10px;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;
				row-gap: 21px;
				font-size: 16px;
				color: $Short_Text_color;
				span:nth-of-type(2){
					width: 100%;
					height: 1px;
					background-color: red;
					background-color: $Divider_color;
				}
			}
		}
	}
}
